
<!DOCTYPE html>
<html >
<head>
   <title>Document</title>
    <script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">     
    </script> 
</head>
<body>
    <div ng-app="myApp" ng-control="myCtrl">
        <h1> Full name </h1>
        <input type="text" ng-model="number" placeholder="Enter the number ">
        <button ng-click="calclucateFactorial()"> Calculate Factorial </button>
        <button ng-click="calculateSquare()">Calculate Sqaure </button>
        <p> Factorial : {{factorial}} </p>
        <p> Sqaure : {{square}} </p>
        </div>
    <script>
        var app= angular.module("myApp",[]);
        app.controller("myCtrl", function($scope){
            $scope.number=0;
            $scope.square=0;
            $scope.factorial=0;

            $scope.calculateFactorial= function(){
                var factorial=1;
                for(var i=$scope.number; i>1; i--){
                    factorial*=i;
                }
                $scope.factorial=factorial;

            }
            $scope.calculateSquare= function(){
                $scope.square = $scope.number * $scope.number;
            };
        });
    </script>
    
</body>
</html>