<!DOCTYPE html>
<html >
<head>
    <title> Shopping list app </title>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <h1> Shopping items </h1>
        <ul> 
            <li ng-repeat="item in items "> 
        </ul>
        <input type="text" ng-model="newItem" placeholder="Enter the new item">
        <button ng-click="addItem()">Add items </button>
        <button ng-click="removeItem(index)"></button>
            </li>
    </div>
    <script>
        var app= angular.module("myApp" ,[]);
        app.controller("myCtrl" ,function($scope){

        
        $scope.items=['bread','milk','eggs'];
        $scope.addItems=function(){
            $scope.items.push($scope.newItem);
            $scope.newItem='';

        }

        $scope.removeItem=function($scope){
            $scope.items.splice(index,1);
        };
            
        });
    </script>
</body>
</html>